// @import 'antd/dist/antd.css';
// body {
//   margin: 0;
//   padding: 0;
// }
html,
button,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

label {
  cursor: text;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  font-size: 14px;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

input {
  transition: 0.4s;
  border: 1px solid black;
  border-radius: 5px;
}

input:hover {
  border: 1px solid #77aee2;
  border-radius: 3px;
}

input:focus {
  outline: none !important;
  border: 1px solid #378ddd;
  border-radius: 3px;
}

.logo-img {
  max-height: 100px;
  max-width: 300px;
}

.nav {
  display: grid;
  grid-template-columns: 7fr 1fr 2fr 1fr;
  grid-gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}

#myTunes,
#myTunes:visited,
#myTunes:active {
  color: black;
  font-size: 40px;
}

#myTunes:hover {
  color: black;
}

#error {
  color: red;
  font-size: 12px;
}

.tracksGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

// .authForm {
//     display: grid;
//     grid-template-rows: 150px;
//     grid-gap: 10px;
//     // font-family: 'Segoe UI', sans-serif;
//     font-size: 16px;
//     justify-content: center;
//     place-items: center;
// }

// #username, #password {
//     display: grid;
//     grid-template-columns: 10px 100px 190px;
//     max-height: 100px;
//     text-align: left;
//     justify-content: center;
// }

// #required {
//     font-size: 10px;
//     color: red;
//     padding-bottom: 8px;
// }

// #auth {
//     justify-self: center;
//     display: grid;
//     grid-template-columns: 50px 100px;
//     margin-top: 15px;
//     padding-left: 150px;
//     grid-gap: 50px;
// }

// #link {
//     font-size: 14px;
//     color: #4EAEC5;
//     transition: 0.3s;
//     text-decoration: underline;
// }

// #link:hover {
//     color: #A3E1F0;
//     cursor: pointer;
// }

// .ant-form {
//     font-family: 'Segoe UI', sans-serif;
//     display: grid;
//     grid-template-rows: auto, 500px;
// }

// .ant-form-item:focus {
//     border-color: mediumpurple;
// }

// .ant-checkbox-checked .ant-checkbox-inner {
//     background-color: mediumpurple;
//     border-color: white;
// }

// .ant-input:focus {
//     border-color: mediumpurple;
//     box-shadow: plum;
// }

// .ant-btn-primary {
//     background-color: mediumpurple;
//     border-color: white;
// }
