.talkbubble {
    width: 480px;
    height: 320px;
    background: lightblue;
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }


  .talkbubble:before {
    content: "";
    position: relative;
    top: 100px;
    left: -100px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 104px solid lightblue;
    border-bottom: 52px solid transparent;
  }



  .talkbubbleText {
    font-size: 1.5rem;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 20px;
    padding-top: 5px; 
    display: flex;
    align-items: center
  }



