#newReviewButton {
    border: 1px solid transparent;
    padding: 12px 18px;
    background-color: #acef9b;
    border-radius: 5px;
    color: #3e3e3e;
    font-weight: 500;
    font-size: 17px;
}
#newReviewButton:hover {
    border: 1px solid rgb(56, 56, 56);
    box-shadow: 0 1.5px 1.5px 1px rgba(189, 189, 189, 0.5);
    cursor: pointer;
}