
.circle{
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 0px;
  top: 0px
}

.circle::after{
  content: '';
  background-color: grey;
  width: 60px;
  height: 60px;
  position:absolute;
  z-index: -1;
  border-radius:50%;
  top: -5px;
  left:-5px;

}

.circle::before{
  content: '';
  background-color: black;
  width: 150px;
  height: 150px;
  position:absolute;
  z-index: -1;
  border-radius:50%;
  top: -50px;
  left:-50px;

}
  
.vinylcover {
  background-image: linear-gradient(to right, rgb(193, 154, 107), rgb(184, 115, 51));
   width: 200px;
    height: 200px;
    position:relative;
    left: 40px;
    border: solid;
    border-width: 1px;
    border-color:  rgb(182, 133, 69);
    border-radius: 1px;
    box-shadow: 2px 2px 1px black;

}

.vinylcoverText {
  font-size: 1em;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  padding-left: 20px;
  padding-top: 5px;

}

.vinylcoverButton {
  font-size: 1rem;
  color: rgb(32, 30, 27);
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 15px;
  height: 35px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 22px;
  top: -8px;
  background-color: lightblue;
}

.circleContainer {
  position: relative;
  left: 400px;
  top: -210px;
}