
  .container {
    display: flex;
    justify-content: space-around;
  }
  
  
  .vinyl {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .popup {
    position: relative;
    top: -20px;
    left: 400px;
  }