
  .container {
   height: 250px;
   width:  320px;
   position: relative
  }
  
  
  .vinyl {
    position: absolute;
    top: 70px;
    left: 250px;
  }

  .cover {
    position: absolute;
    top: 0px;
    left: 0px;
  }

.reviewbubble {
  position: absolute;
  top: -10px;
  left: 400px;
  z-index: 1;
}