input {
     width: 200px;
     background-color: white;
     border: thin solid #4fa4ff;
     border-radius: 4px;
     display: inline-block;
     font: inherit;
     line-height: 1.5em;
     padding: 0.5em 3.5em 0.5em 1em;      
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
input:hover {
    box-shadow: 0 2px 6px 1px #b6aeae;
}
input:focus {
    outline: none;
}
#userSearchButton {
    border: 1px solid transparent;
    padding: 12px 18px;
    background-color: #cee6ff;
    border-radius: 5px;
    color: #3e3e3e;
    font-weight: 400;
    font-size: 15px;
}
#userSearchButton:hover {
    border: 1px solid rgb(56, 56, 56);
    box-shadow: 0 1.5px 1.5px 1px rgba(189, 189, 189, 0.5);
    cursor: pointer;
}

    